<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="utf-8" />
    <title>@ViewData["Title"] - Product Details</title>
</head>
<body>
    <header>
        <h2>Product App</h2>
        <nav>
            <a asp-controller="Product" asp-action="Details" asp-route-id="1">Sản phẩm 1</a> |
            <a asp-controller="Product" asp-action="Details" asp-route-id="2">Sản phẩm 2</a> |
            <a asp-controller="Product" asp-action="Details" asp-route-id="3">Sản phẩm 3</a> |
            <a asp-controller="Product" asp-action="Details" asp-route-id="4">Sản phẩm 4</a>
        </nav>
        <hr />
    </header>

    <main>
        @RenderBody() 
    </main>

    <hr />
    <footer>
        <small>© 2025 ProductDetails App</small>
    </footer>
</body>
</html>
