@model ProductDetails.Models.Product
@{
    ViewData["Title"] = "Chi tiết sản phẩm";
    @* Dòng "Layout" dùng để render chung với Layout đó *@
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@* Phần render dữ liệu ra giao diện *@
@if (Model == null)
{
    <p>Không tìm thấy sản phẩm có id = @ViewData["ProductId"]</p>
}
else
{
    <h3>@Model.Name</h3>
    <p>Giá: @Model.Price đ</p>
    <p>Mô tả: @(Model.Description ?? "[Không có mô tả]")</p>
}